<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-white shadow">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active px-4" aria-current="page" href="#">Feed</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-4" routerLink="/test">My Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-4" href="#">Notifications</a>
        </li>
      </ul>
    </div>

    <a class="brand" href="#">
      <img src="../../../../assets/images/cat-logo.png" height="50" alt="" />
    </a>

    <div *ngIf="user" class="nav navbar-header navbar-profile pull-right me-4">
      <div class="ml-4 dropdown d-inline">
        <a
          class="btn dropdown-toggle"
          role="button"
          id="dropDownMenuButton"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <figure class="avatar avatar-nav">
            <img [src]="user.photoURL" class="rounded-circle" alt="" />
          </figure>
          <span>{{ user.displayName }}</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="dropDownMenuButton">
          <a class="dropdown-item">Profile</a>
          <a class="dropdown-item">Settings</a>
          <a class="dropdown-item text-danger" (click)="logout()">Logout</a>
        </div>
      </div>
    </div>
  </div>
</nav>
