* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Montserrat';
  height: 125vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(56, 56, 56);

}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;

}
.wrapper h1 {
  font-size: 3rem;

}
.wrapper .message {
  font-size: 1.5rem;
  padding: 20px;
  text-align: center;
  width: 60%;

}
.btn {
  background: rgb(88, 0, 202);
  text-decoration: none;
  font-size: 1.5rem;
  padding: 12px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.btn:hover {background: rgb(132, 37, 255) ;}
.copyRights {
  margin-top: 60px;
}

.imgDiv{
   display: flex;
   align-items:center;
   justify-content: center;
}
