.home {
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-image: url("../../../assets/images/background_01.jpeg");
  background-position: 50% 0px;
  height: 100vh;
}

.navbar {
  position: absolute;
  background-color: transparent;
  width: 100%;
}

.collapse:not(.show) {
  display: contents;
}

.description-text {
  font-size: 1.2rem;
  line-height: 2rem;
  color: #525151;
  text-align: justify;
}

.home-btn {
  background: #5a5af3;
  color: #fff;
  border: 2px solid #5a5af3;
  margin-right: 10px;
  border-radius: 50px;
  font-size: 15px;
  letter-spacing: 0.5px;
  display: inline-block;
  padding: 8px 20px 9px;
}

.gradient-text {
  background: linear-gradient(135deg, #667eea, #7317cf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home-title {
  font-weight: 700;
  font-size: 3rem;
  line-height: normal !important;
  margin-bottom: 1rem;
  background: linear-gradient(135deg, #667eea, #7317cf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Yanone Kaffeesatz", sans-serif;
}

.wave-bottom {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow:hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wave-bottom svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 29.675vh;
  transform: rotateY(180deg);
}
