<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="../../../assets/images/cat-logo.png"
        class="mx-auto img-fluid"
        width="60"
        alt=""
      />
    </a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <h5 class="mx-0 my-0 gradient-text">Code Kitty - Your Pet Care</h5>
      </ul>
      <span class="navbar-text">
        <button
          type="button"
          class="btn btn-outline-primary mx-0 my-0"
          (click)="login()"
        >
          <span class="fa fa-user"></span> Login
        </button>
      </span>
    </div>
  </div>
</nav>

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12" style="margin-top: 110pt">
        <h2 class="home-title">Code Kitty</h2>
        <br />
        <p class="description-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.
        </p>
        <br />
        <button class="home-btn btn">Get Started</button>
        <button class="btn-outline-primary" style="padding: 8px 20px 9px">
          <span class="fa fa-github">&nbsp;</span>View on GitHub
        </button>
      </div>
      <div
        class="col-lg-6 col-md-6 col-sm-12 text-center"
        style="margin-top: 60pt"
      >
        <img
          src="../../../assets/images/cat-vector-home.png"
          class="img-fluid"
          width="450"
        />
      </div>
    </div>
  </div>
</section>

<section class="wave-bottom mt-5">
  <svg
    data-name="Layer 1"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1200 120"
    preserveAspectRatio="none"
  >
    <linearGradient id="gradient">
      <stop offset="5%" stop-color="#667eea" />
      <stop offset="95%" stop-color="#7317cf" />
    </linearGradient>
    <path
      d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
      fill="url(#gradient)"
    ></path>
  </svg>
</section>
