/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.btn-primary {
  background: #5a5af3;
  color: #fff;
  border: 2px solid #5a5af3;
  border-radius: 50px;
  font-size: 15px;
  letter-spacing: 0.5px;
  display: inline-block;
  padding: 7px 18px 7px;
}

.btn-primary:hover {
  background: #5353f5;
  color: #fff;
  border: 2px solid #5353f5;
  border-radius: 50px;
  font-size: 15px;
  letter-spacing: 0.5px;
  display: inline-block;
  padding: 7px 18px 7px;
}

.btn-outline-primary {
  background-color: transparent;
  color: #5a5af3;
  border-color: #5a5af3;
  border-radius: 50px;
  padding: 3px 20px 3px;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #5a5af3;
  border-radius: 50px;
  padding: 3px 20px 3px;
}

.btn-danger {
  background: #dc3545;
  color: #fff;
  border: 2px solid #dc3545;
  border-radius: 50px;
  font-size: 15px;
  letter-spacing: 0.5px;
  display: inline-block;
  padding: 7px 18px 7px;
}
